<div class="jumbotron text-center">
  <h1>RecipEasy </h1>
  <p>This website lets you make your own recipes with the ingredients you have in your own house!</p>

  <small>Please enter one or more ingredients separated by commas.</small><br/>
  <form class="form-inline" action='/recipes/search' method='GET'>
     <%= text_field_tag :ingredient, nil, :placeholder => 'chicken, cheese, lettuce...', :class => 'form-control' %>
    <%= submit_tag "Search", :class => 'btn btn-primary' %>
  </form>
</div>

<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About RecipEasy</h2><br>
      <h4>Users will be able to search for recipes without having to login or register.</h4>
    <h4>However if a user wants to save or rate a recipe they will have to make an account.</h4>
    <% if !current_user %> 
      <br><form method="get" action="/register">
          <button type="submit" class="btn btn-default btn-lg">Let's Create An Account</button>
          </form>
          <% end %> 
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-cutlery"></span>
    </div>
  </div>
</div>

<div id="portfolio" class="container-fluid text-center ">
  <h2>Recipes!</h2>
  <h4>Lets take a look at what has been created!</h4>
    <%= image_tag("food.jpg", :alt => "food", style: "height: 225px; width: 225px") %>
    <%= image_tag("fish.jpg", :alt => "fish", style: "height: 225px; width: 225px") %>
    <%= image_tag("chicken.jpg", :alt => "chicken", style: "height: 225px; width: 225px") %>  
		<%= image_tag("cucumbertuna.png", :alt => "cucumbertuna", style: "height: 225px; width: 225px") %> 
		<%= image_tag("sweetp.png", :alt => "sweetp", style: "height: 225px; width: 225px") %> 
    <%= image_tag("tomato.png", :alt => "tomato", style: "height: 225px; width: 225px") %>
    <%= image_tag("bacongua.png", :alt => "bacongua", style: "height: 225px; width: 225px") %>
    <%= image_tag("chickegg.png", :alt => "chickegg", style: "height: 225px; width: 225px") %>
</div>
  
  <div class="container-fluid text-center bg-grey">
  <div class="container">
  <h2>What our customers say</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
    
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
	  <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"This website is amazing"<br><span style="font-style:normal;">Reese </span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span style="font-style:normal;">Karla </span></h4>
      </div>
      <div class="item">
        <h4>"I have found so many delicious recipes"<br><span style="font-style:normal;">Greg Oij</span></h4>
      </div>
	  <div class="item">
        <h4>"I couldn't be happier with this website!"<br><span style="font-style:normal;">Jared</span></h4>
      </div>
    </div>

    
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </div>
</div>
  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
